.CartWidget {
    position: relative;
    min-width:15rem;
    max-width: 20rem;    
    font-size: 1.2rem;
    background: transparent;    
    display: flex;
    align-items: center;
    text-decoration: none;
    border: none;
    border-style: none;
    cursor: pointer;
    outline: inherit;
}
.CantidadSpan{
    background-color: var(--colour-first);
    padding: .5rem;
    border-radius: 50%;
    width: 1.4rem;
    height: 1.4rem;
}
.CartWidget h4{
    color: var(--colour-second) !important;    
    text-align: center;
    vertical-align: middle;
    margin: 0;    
    font-weight: lighter;    
    font-weight: bold;
    padding: 0;
}


.CartWidget h3{
    margin-left: 1rem;
    font-size: 1.2rem;
}
.CartWidget span{
    font-weight: 100;
    font-size: 1rem;
}