.ProductList{
    width: calc(100% - 4rem);
    justify-content: center;
    gap: 1.2rem;
    margin-bottom: 5rem;
}
.logotipo {
    margin-top: 2rem;
    width: 300px;
}

.avatar {
    width: 200px;
    border-radius: 2rem;
    margin-top: 2rem;
    cursor: pointer;
    margin-bottom: 2rem;
}

.App-index {
    width: calc(100% - 2rem);
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
}

.Titulo {
    text-align: center;
    font-weight: lighter;
    font-family: var(--fontR);
    color: var(--colour-second);
    font-size: max(1rem, calc(1rem + 1vw + 1vh));  
}