.logotipo{
    margin-top: 2rem;
    width: 300px;
}
.avatar {
    width: 200px;
    border-radius: 2rem;
    margin-top: 2rem;
    cursor: pointer;
    margin-bottom: 2rem;
}

button.LinkProfile{
    background-color: var(--colour-second);
}
button.LinkProfile:hover{
    background-color: transparent;
    color: var(--colour-second);
    border: 1px solid var(--colour-second);
}