.logotipo{
    margin-top: 2rem;
    width: 300px;
}
.avatar {
    width: 200px;
    border-radius: 2rem;
    margin-top: 2rem;
    cursor: pointer;
}
.LinkProfile{
    margin-top: 2rem;
    color: var(--colour-second);
}