.menu .navbar {
    background: var(--colour-second) !important;      
}

.menu .navbar a{
    color: var(--colour-first) !important;  
}

.userPhoto{
    width: 120px;
    border-radius: 2rem;
    object-fit: cover;
}