.menu .navbar {
    background: var(--colour-second) !important;      
}

.menu .navbar a{
    color: var(--colour-first) !important;  
}

.userPhoto{
    width: 120px;
    border-radius: 2rem;
    object-fit: cover;
}
.AdminPhoto{
    border-radius: .5rem;
    width: 44px !important;
    margin-right: 1.5rem;
    padding-right: 0 !important;
}