
.cardMediaImage{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 240px;
    margin-left: auto;
    margin-right: auto;
    height: 220px;    
}
.css-o69gx8-MuiCardMedia-root{
    width: auto !important;
    height: auto !important;
}
.cardMediaImage img{
    max-width: calc(100% - 1rem);
    max-height: 200px;
}

.css-1yr8029-MuiTypography-root{
    font-size: 1.1rem !important;
    font-weight: 600 !important;
}
.IconFavorito{
    color: var(--colour-fifth) !important;   
}

.IconFavoritoAdded{
    color: var(--brick) !important;   
}

.classButtonCards{
    background-color: var(--colour-second) !important;
}

.AddedQuantity{
    display: flex;
    min-height: 1rem;
    align-items: center;
    justify-content: space-evenly;
}
.AddedQuantity .ButtonControls{
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
    color: var(--colour-second);
    cursor: pointer;
}
.AddedQuantity h4{
    color: var(--colour-second);
}